.container {
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;          
    }

    .box{
    width: 300px;
    height: 300px;    
    font-size: 20px;
    border-radius: 20px;   
    background-color: rgba(82, 245, 245, 0.075);
    }

    body {
        margin: 0px;
        background-image: url(feche-de-ondulacoes.webp);
               
        
    }

    form {
        border-style: groove;        
        position: static;
        padding: 10px;
        border-radius: 10px;
        align-content: center;
        text-align: center;
        border-radius: 20px;   
        background-color: rgba(82, 245, 245, 0.185);
        
    }
    h6 {
        font-size: 13px;
    }
    h5 {
        color: pink;
        font-size: 15px;
    }
